* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel Decorative',
    cursive;
    font-family: 'Diplomata',
    cursive;
    font-family: 'Stint Ultra Expanded',
    cursive;
    font-family: 'Yatra One',
    cursive;
}

img{
    width: 100%;
}

.title-carousel{
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 2px maroon;
    font-size: 2.5rem;
}

.carousel {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    background: slategrey;
    border-radius: .25rem;
    margin-bottom: 2rem;
}

.carousel-pad{
    width: 90%;
    margin: 3rem auto;
    padding-top: 1rem;
    padding: .5rem;
    background: maroon;
    box-shadow: 5px 10px 18px #888888;
    border: 2px solid #ccc;
    /* background: rgb(152, 81, 8); */
        /* background: linear-gradient(90deg, rgba(152, 81, 8, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(157, 76, 2, 1) 100%); */
}

.carousel-item,
.carousel-item-hidden {
    display: none;
    margin: 0 auto;
}

.car-block{
    margin: 0 auto;
}
.car-text{
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    background: #000;
    padding: 1.4rem;
    margin:0;
}

.carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}


.carousel-item-img {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-actions button {
    margin: 0 .7rem;
    border-radius: 8px;
    text-decoration: none;
    color: aliceblue;
    background: maroon;
    border: 0;
    font-size: 2rem;
}

.prev {
    margin-left: 1.4rem;
}

.next {
    margin-right: 1.4rem;
}

/* css animation */
.fade-in {
    animation: fadeIn 2s;
    opacity: 1;
}
/* added a media query to make the larger view better */
@media (min-width: 768px) {
    .car-block{
        width: 80%;
    }
    .carousel-pad{
        width: 100%;
        border-radius: 5px;
    }
    .carousel{
        width: 100%;
    }
    .carousel-item{
        width: 100%;
    }
}

@keyframes fadeVisibility {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}