*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel Decorative',
    cursive;
    font-family: 'Diplomata',
    cursive;
    font-family: 'Stint Ultra Expanded',
    cursive;
    font-family: 'Yatra One',
    cursive;
}

img{
    max-width: 100%;
}

.full{
    display: block;
    /* flex-direction: row; */
    /* flex-direction: column; */
    background-image: url(../imgs/clay-leconey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* sheight: 450vh; */
}

.grid{
    padding: 3rem;
    color: aliceblue;
    text-align: center;
}

.grid-title{
    font-size: 4rem;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 2px maroon;
}

.container{
    margin-top: 10px;
    background:#fffdd0;
    padding: 2rem;
    border-radius: .5rem;
    color: #000;
    box-shadow: 5px 5px #000;
}

.gear-link{
    text-decoration: none;
    color: navy;
    font-size: 1.2rem;
}

.gear-logo{
    padding: 1rem;
}

.grid-text{

}

.instruments-amps {
    text-shadow: 2px 2px rgb(1, 1, 107);
    font-style: italic;
    background: maroon;
    padding: 2rem;
    color: aliceblue;
    border-radius: 8px;
    border: 3px solid black
}

.div-img{
    width: 100%;
}

/* gearlist */

.gear{
    color: aliceblue;
    padding: 1rem;
    margin-top: -40px;
}

.gear-title {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

.gear-list{
    list-style-type: none;
    text-align: center
}

.gear-item{
    text-decoration: none;
    color:antiquewhite;
    font-weight: bold;
    border-radius: .4rem;
    background: #fff;
    margin-top: 1rem;
}
.container2 {
    background: maroon;
    padding: 2rem;
    border-radius: .5rem;
    color: aliceblue;
    border: 4px solid #fff;
}
.gear-img{
    margin: 0 auto;
}

.ron-guitar{
    max-width:400px;
    max-height: 300px;
}


/* media query */

@media(min-width:768px){
    .grid-text{
        text-align: left;
    }
    .grid-title{
         font-size: 1.5rem;
    }
    .full{
        display: flex;
        align-items: flex-start;
        background-image: url(../imgs/clay-leconey.jpg);
        background-repeat: no-repeat;
        justify-content: space-evenly;
    }
    .grid{
        width: 45%;
    }
    .gear{
        width: 45%;
        margin-top: 35px;
    }
    .container2{
            margin: 0 auto;
            box-shadow: 3px 3px 2px #000;
    }
    .instruments-amps {
        font-size: 26px;
    }
    .grid-title{
        font-size: 26px;
    }
}

@media(max-width: 650px){
    .instruments-amps {
        font-size:16px;
    }
    .grid-title{
        font-size: 20px;
    }
}
