* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    font-family: 'Cinzel Decorative',cursive;
    font-family: 'Diplomata',cursive;
    font-family: 'Stint Ultra Expanded',cursive;
    font-family: 'Yatra One',cursive;
}


header{
    padding: 2rem;
    text-align: center;
    color: whitesmoke;
    background: maroon;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    border: 3px lightgray solid;
    box-shadow:12px 12px 2px 1px rgba(10, 10, 10, 0.2)
}

/* classes */

.first {
    padding: 3rem;
}

.music-page-title{
    color: whitesmoke;
    text-align: center;
}

.music-page-subtitle{
    font-size: 2rem;
}

.music-below-text{
}

.stream-platform{
    display: block;
    list-style: none;
}

.stream-platform-a{
    text-decoration: none;
    color:antiquewhite;
    font-size: 2rem;
    font-weight: 700;
}

.music-header-text{
    text-align: center;
    color: whitesmoke;
    padding: 2rem;
    font-family: 'Stint Ultra Expanded', cursive;
    font-weight: 600;
}

.music-title{
    font-family: 'Stint Ultra Expanded', cursive;
        font-weight: 600;
}

.seconds{
    background: white;
    display: flex;
    flex-direction: column;
}

.music-desc{
/* add properties here */
}

.more-music{
    color: whitesmoke;
    padding: 1.5rem;
    max-width: 850px;
}

.card{
    background: rgb(3, 3, 67);
    padding: 3rem;
    color: whitesmoke;
    border-radius: 8px;
    border: 3px lightgray solid;
    box-shadow: 5px 5px 5px #000;
}

.card p{
    font-family: 'Stint Ultra Expanded', cursive;
        font-weight: 600;
}

.seconds{
    display: flex;
    flex-direction:column;
    margin: 0 auto;
    padding: 2rem;
        background: maroon;
}

.btn{
    cursor: pointer;
    padding: .5em 1rem;
    color: #222;
    background:#fff;
    border: none;
    border-radius: .25em;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa-play{
    margin-right: .25rem;
}

.btn:hover{
    color: whitesmoke;
    font-weight: 700;
    background: rgb(53, 53, 89);
}

.seconds> *{
    width: 100%;
}

.song-meta{
    font-size: 12px;
    font-family: 'Stint Ultra Expanded', cursive;
    font-weight: 600;
}

@media (min-width: 32.5rem){
    .seconds{
        flex-direction:row;
        flex-grow: 1;
    }
    .music-desc{
        max-width: 25rem;
    }
}

.div-video{
    margin: 0 auto;
}

.video-titles{
    color: beige;
    text-align: center;
}

.videos{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}


/* Youtube styling */
.youtube-container{
    width: 860px;
    height: 200vh;
    background: beige;
    margin: 0 auto;
    margin-top: 20px;
    padding: 3rem;
}

.youtube-logo{
    width: 350px;
    margin: 0 auto;
    height: 100px;
}

.yt-header, #video{
        text-align: center;
        margin: 0 auto;
        width: 560px;
        background: #FFF;
}

.yt-h2{
    color: #000;
    font-size: 1.2rem;
    /* text-shadow: 4px 4px #5f0202;; */
}

.yt-main {
    margin-top: 20px;
    padding: 3rem;
    height: auto;
    background: maroon;
    color: whitesmoke;
}

#video{
    margin-top: 20px;
    background: brown;
    padding: 1rem;
}

.youtube-playlist{
    margin-top: 10px;
        display: flex;
        background: 930909;
        padding-right: 1rem;
        padding: 2rem;
        border: 2px solid #fff;
        border-radius: 8px;
}
.youtube-playlist:hover {
    border: 2px solid rgb(0, 240, 253);
}

.details {
    align-items: center;
    padding-left: 1rem;
    margin-bottom: -20px;
}

.thumb {
    height: 5rem;
    width: 150px;
    border-radius: 2px solid;
}
/* end youtube styling */
.player{
    padding: 4rem;
    margin: 0 auto;
    background-image: url(../imgs/clay-leconey.jpg);
}