*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    max-width: 1400px;
    background:#0e1d29;
    font-family: 'Cinzel Decorative',
    cursive;
    font-family: 'Diplomata',
    cursive;
    font-family: 'Stint Ultra Expanded',
    cursive;
    font-family: 'Yatra One',
    cursive;
}

h1, h2{
    font-family: Diplomata, sans-serif;
}

p{
    font-family: Yatra One, sans-serif;
}

nav {
    height: 200px;
    width: 100%;
    background: maroon;
}

img{
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 100px;
    line-height: 80px;
}
.banner-img{
    margin: 0 auto;
    text-align: center;
}

.banner{
    width: 50%;
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
    font-size: 1em;
    font-family: Diplomata, sans-serif;
}

.nav-link:hover {
    color: bisque;
}

.hamburger {
    display: none;
    cursor: pointer;
    line-height: .2rem;
}

.bar {
    display: block;
    width: 25px;
    height: .2rem;
    margin: .5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: aliceblue;
}

.cat{
    height: 100%;
    width: 100%;
}

/* first section */

.first{
    background-image: url(../imgs/instruments-grey.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.intro{
    padding:2rem;
    color: aliceblue;
    font-size: 1.4rem;
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(2, 2, 67);
    border: 1px solid #fff;
    border-radius: .5rem;
}

.title-text{
    width: 100%;
}
.intro-title {
        text-align: center;
        color: whitesmoke;
        text-shadow: 1px 1px 2px maroon;
        font-size: 2.5rem;
    }

/* calendar */

.calendar{
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    background-image: url(../imgs/clay-leconey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    border: .6rem solid #000;
    background-color: maroon;
}

.cal-form{
    max-width:500px;
    background: cornsilk;
    color:#000;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
}

.second-title{
        text-shadow: 1px 1px 2px maroon;
}

.btn-submit{
    margin-top: 1rem;
    padding: .75rem;
    background: maroon;
    border: none;
    color: whitesmoke;
    border-radius: .5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
}

.btn-submit:hover{
    opacity: .75;
}



/* footer */
footer {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1.5rem;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Diplomata', Courier, monospace;
}


.footer-content p {
    max-width: 650px;
    text-align: center;
    margin: 10px auto;
    line-height: 28px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: whitesmoke;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover {
    color: maroon;
}

.footer-bottom {
    background: #000000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: .75rem;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: bold;
}

.third{
    padding-top: 3rem;
    background-image: url(../imgs/woodenbackground.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    border: .6rem solid #000;
}

.source{
    text-align: center;
}
.name{
    font-weight: bold;
}

.col{
    /* margin: 1rem; */

    animation: zoom-in-zoom-out 5s ease-in infinite;
}

.flex-container{
    width: 100%;
    padding: 1rem;
}
.flex-item{
    border-top: 4px solid #0e1d29;
    height: 350px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 4rem;
    width: 50%;
    margin: 0 auto;
    background: rgba(94, 2, 2, 0.642);
    color: whitesmoke;
    margin-bottom: 2rem;
    border-radius: .5rem;
    border: 5px solid #aaa;
    padding: 2rem;
    animation: zoom-in-zoom-out 5s ease-in infinite;
    flex-basis: auto;
}
.flex-item-text{
    flex-direction: column;
    justify-content: center;
}

.name{
    margin-top: -3rem;
    text-align: center;
}



.test-title {
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

.quite-text {
    height: 80%;
    padding: 1rem;
    text-align: center;
}

.band-name{
    margin-top: -30px;text-align: center;
}

/* footer end */


@media (max-width: 500px) {
    .col {
        height: 350px;
        width: auto;
    }
        .flex-item {
            height: 300px;
        }
        .cat{
            width: 100%
        }
        .name {
            margin-top: -3rem;
}

@media (min-width: 650px){
    /* .flex-item {
        height: 300px;
        width: 60%;
        }*/
    .name {
     margin-top: -2rem;
}
.test-title {
    font-size: 3rem;
}
}

/* @media (min-width: 600) {
    nav{
        flex-direction: column;
    }
    .logo{
        order: 0;
    }
    .menu{
        order: 1;
    }
    .
Trying to set the logo on top and the menu items below
 } */
@media (min-width: 800px) {
    .flex-container {
                display: flex;
                justify-content: space-evenly;
                border: 5px solid #000;
                padding: 2em;
            }

    .flex-item {
        border: 5px solid #aaa;
        background-color: brown;
        color: #fff;
        height: 350px;
        padding: 0.5em;
        width: 33.33%;
        background-image: url(../imgs/woodenbackground.jpg);
        background: rgba(94, 2, 2, 0.642);
            }
    .list-items{
        display: flex;
        list-style: none;
        justify-content:center;
    }
    li{
        padding-right: 1rem;
    }

    .cat-logo {
        width: 200px;
        height: 200px;
    }

    .first{
        width: 100%;
        margin: 0 auto;

    }
    .intro{
        width: 100%;
    }
    .carousel-pad{
        display:block;
    }
    .test-title{
        text-align: center;
        font-size: 3rem;
        color: aliceblue;
    }
    .title-text p{
        width: 100%;
    }


    .quite-text{
        /* height: 80%; */
        text-align: center;
    }
    .band-name{
        margin-top: -1000px
    }
    .intro{
        width: 45%;
    }
    .car-block{
        width: 45%;
    }
    .hamburger-menu{
        display:none;
    }
/*
        .rowz {
            text-align: center;
        }

        .col-new {
            width: 80%;
            background: saddlebrown;
            border-radius: 8px;
            color: aliceblue;
            padding: 3rem;
                    margin: 0 auto;
                    margin-top: 2rem;
                }
 */
    navbar{
            display: inline-flex;
            align-items: center;
            justify-content:space-evenly;
        }
}

/* css animations */

.fade-in {
    animation: fadeIn 2s;
    opacity: 1;
}

/* navbar */

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger .active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger .active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-menu.active {
        left: 0;
    }
}


/* keyframes */
/*
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}
*/